<div id="frame">

Grand IO is a non-profit teaching community that brings together “experts” in subjects from AutoCad to zipper repair. Members can teach, teachers can learn, and class offerings are nominated, chosen, and instructed by the community. Grand IO has a permanent physical space in Williamsburg Brooklyn but will utilize resources around NYC to create the best experiences possible. Grand IO aims to further disrupt the conventional model for higher education and make teaching and learning the responsiblity and privilege of everyone.

</div>