<html lang="en">

<head>
	<title>
		<%= @page_title %>
	</title>
	
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<script type="text/javascript" src="js/application.js"></script>
	
	
	
</head>

<body class = "fullbodydesign" >
	
	<div id="container" style="width: 800px">
		
		<!-- This is to decide whether the person is logged in or not -->

		<% if login? %> 

			<div class="row" style="width: 80%; margin-left: auto; margin-right: auto">
				<div class="span0" style="margin-left: 0px">
					<h2>
						<a href="/">HOME</a>
					</h2>
				</div>
				<div class="span0" style="margin-left: 70px">
					<h2>
						<a href="/about">ABOUT</a>
					</h2>
				</div>
				<div class="span2" style="margin-left: 50px">
					<h2>
						<a href="/courses">COURSES</a>
					</h2>
				</div>
				<div class="span2" style="margin-left: 43px; width: 120; font-size: 15px; margin-top: 3px">
					Hi, <%= firstname %> <%= lastname %>! 
				</div>
				<div class="span0" style="margin-top: 0px">
					<a href="/profile" style="margin-left: 30px; font-size: 15px">PROFILE</a> 
					||
					<a href="/logout" style="margin-left: 0px; font-size: 15px">LOGOUT</a>
				</div>
			</div>

		<% else %>

			<div class="row" style="width: 100%; margin-left: auto; margin-right: auto">
				<div class="span0" style="margin-left: 20px">
					<h2>
						<a href="/">HOME</a>
					</h2>
				</div>
				<div class="span0" style="margin-left: 70px">
					<h2>
						<a href="/about">ABOUT</a>
					</h2>
				</div>
				<div class="span2" style="margin-left: 50px">
					<h2>
						<a href="/courses">COURSES</a>
					</h2>
				</div>
				<div class="span2" style="margin-left: 30px">
					<h2>
						<a href="/signup">SIGNUP</a>
					</h2>
				</div>
				<form id="login" action="/login" method="POST">
					<div class="span1 offset1" style="margin-left: 50px">
						<input style="height: 28px; width: 150px; margin-bottom: 1px" type="text" width="100" name="email" placeholder="email" />
						<input style="height: 28px; width: 150px; margin-bottom: 1px" type="password" width="100" name="password" placeholder="password" />
						<input type="submit"  style="margin-left: 100" id="submitImage" name="Login" width="100" placeholder="login" />
					</div>
				</form>

			</div>

		<% end %>

	</div>

<%= yield %>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>
</html>