<html lang="en">

<head>
	<title>
		<%= @page_title %>
	</title>

	<!-- PUSHER STUFF -->
	<link rel="stylesheet/less" type="text/css" href="http://localhost:9393/lib/twitter-bootstrap/lib/bootstrap.less">
	<script src="http://localhost:9393/less/less-1.1.5.min.js"></script>
	<link href="http://localhost:9393/css/styles.css" rel="stylesheet" />
	<link href="http://localhost:9393/css/pusher-chat-widget.css" rel="stylesheet" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
	<script src="http://localhost:9393/js/PusherChatWidget.js"></script> 
	<!-- END PUSHER STUFF -->

	<link rel="stylesheet" href="http://localhost:9393/css/bootstrap.css" />
	<link rel="stylesheet" href="http://localhost:9393/css/application.css" />
	<!--FONT LINKS TO GOOGLE-->
	<link href='http://fonts.googleapis.com/css?family=Syncopate:700|Strait' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://localhost:9393/js/application.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="http://localhost:9393/js/bootstrap.js"></script>

	
	
	
</head>

<body class = "fullbodydesign" >
	<div class="container">
		<div class="navbar navbar-fixed-top">
			
			<!-- This is to decide whether the person is logged in or not -->
	
			<% if login? %> 
	
				<div class="navbar-inner" style="width: 100%; margin-left: auto; margin-right: auto">
					<div class="nav-collapse" style="">
							<ul class="nav">
								<li>
									<a style="padding: 0px; margin-right=20px" href="/">
										<span class="siteTitle">Pointers*</span>
									</a>
								</li>
								<li>
									<a href="/about">ABOUT</a>
								</li>
								<li>
									<a href="/courses">COURSES</a>
								</li>
								<li>
									<a href="/users">USERS</a>
								</li>

							</ul>
								<div class="pull-right">
                					<ul class="nav pull-right">
                					    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= firstname %> <%= lastname %> <b class="caret"></b></a>
                					        <ul class="dropdown-menu">
                					            <li><a href="/profile"><i class="icon-cog"></i> Profile</a></li>
                					            <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                					            <li class="divider"></li>
                					            <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                					        </ul>
                					    </li>
                					</ul>
              					</div>
					</div>
				</div>
			
			<% else %>
	
				<div class="navbar-inner" style="width: 100%; margin-left: auto; margin-right: auto">
					
						<div class="nav-collapse">
							
							<ul class="nav" style="margin-top: 5px;">
									<li>
										<a style="padding: 0px; margin-right=20px" href="/">
											<span class="siteTitle">Pointers*</span>
										</a>
									</li>
									<li>
										<a href="/about">ABOUT</a>
									</li>
									<li>
										<a href="/courses">COURSES</a>
									</li>
									<li>
										<a href="/users">USERS</a>
									</li>
								
							</ul>

							<ul class="nav pull-right">
								<li>
									<a href="/signup">SIGNUP</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li>
											<form class="loginForm" action="/login" method="POST">
												<input style="input-medium" type="text" name="email" placeholder="email" />
												<input style="input-medium" type="password" name="password" placeholder="password" />
												<label class="checkbox">
    												<input type="checkbox" name="remember"> Remember me
  												</label>
												<button type="submit"  class="btn">Sign in</button>
											</form>
										</li>
									</ul>
								</li>
							</ul>
							
						</div>
				</div>
	
			<% end %>
	
		</div>
	
		<div class="undernavbar">
	
			<%= yield %>
		
		</div>
	</div>
</body>
</html>