<html lang="en">

<head>
	<title>
		<%= @page_title %>
	</title>
	
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/application.css" />
	<script type="text/javascript" src="js/application.js"></script>
	
	
	
</head>

<body class = "fullbodydesign" >
	<div class="container">
		<div class="navbar navbar-fixed-top">
			
			<!-- This is to decide whether the person is logged in or not -->
	
			<% if login? %> 
	
				<div class="navbar-inner" style="width: 80%; margin-left: auto; margin-right: auto">
					<div class="nav-collapse">
							<ul class="nav">

								<li>
									<a href="/">HOME</a>
								</li>
								<li>
									<a href="/about">ABOUT</a>
								</li>
								<li>
									<a href="/courses">COURSES</a>
								</li>
								<div class="span2" style="margin-left: 43px; width: 120; font-size: 15px; margin-top: 3px">
									Hi, <%= firstname %> <%= lastname %>! 
								</div>
								<div class="span0" style="margin-top: 0px">
									<a href="/profile" style="margin-left: 30px; font-size: 15px">PROFILE</a> 
										||
									<a href="/logout" style="margin-left: 0px; font-size: 15px">LOGOUT</a>
								</div>
							</ul>
					</div>
				</div>
			
			<% else %>
	
				<div class="navbar-inner" style="width: 100%; margin-left: auto; margin-right: auto">
					
						<div class="nav-collapse">
							
							<ul class="nav" style="margin-top: 5px;">
									<li>
										<a href="/">HOME</a>
									</li>
									<li>
										<a href="/about">ABOUT</a>
									</li>
									<li>
										<a href="/courses">COURSES</a>
									</li>
									<li>
										<a href="/signup">SIGNUP</a>
									</li>
								
							</ul>
							<form class="pull-right form-inline" style="margin-top:5px;" action="/login" method="POST">
									<input style="input-small" style="width:150px" type="text" name="email" placeholder="email" />
									<input style="input-small" style="width:150px" type="password" name="password" placeholder="password" />
									<label class="checkbox" style="margin-top: 5px;">
    									<input type="checkbox"> Remember me
  									</label>
									<button type="submit"  class="btn">Sign in</button>
							</form>
							
						</div>
				</div>
	
			<% end %>
	
		</div>
	
		<div class="undernavbar">
	
			<%= yield %>
	
			<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
			<script type="text/javascript" src="/js/bootstrap.js"></script>
		
		</div>
	</div>
</body>
</html>