<div id="container" style="height: 300">

  <legend> 
      <%= @page_heading %> 
  </legend>
  
  <br>
  <div>
  
  <form class="form-horizontal" id="signup" action="/signedup" method="POST" style="overflow-y:auto;">
            
          <div class="control-group">
              <label class="control-label" for="firstname" style="width:100px;">First Name</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" type="text" name="firstname" id="firstname" onblur="javascript:checkFirstName(this)" />
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="lastname" style="width:100px;">Last Name</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" type="text" id="lastname" name="lastname" />
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="email" style="width:100px;">Email</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" id="email" type="text" name="email" /> 
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="password" style="width:100px;">Password</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" id="password" type="password" name="password" />
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="checkpassword" style="width:100px;">Reenter Password</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" type="password" id="checkpassword" name="checkpassword" />
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="location" style="width:100px;">Location</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" type="text" name="location" id="location" />
              </div>
          </div>
          <input type="hidden" name="lat" value="" id="lat" />
          <input type="hidden" name="lng" value="" id="lng" />
          <input type="hidden" name="geoloc" value="" id="geoloc" />

          <div class="control-group">
              <label class="control-label" for="propic" style="width:100px;">Profile Picture</label>
              <div class="controls" style="margin-left:120px;">
                  <input class="input-large" type="text" name="propic" id="propic" placeholder="Enter Image URL" />
              </div>
          </div>
          
          <label><input type="checkbox" name="terms"> I agree with the <a href="/terms">Terms and Conditions</a>.</label>
          <div class="form-actions" style="padding-left: 10px;">

                <button type="submit" id="submitButton" hidden></button>
                <button type="button" id="fake" class="btn btn-primary">Save changes</button>
                <a type="button" class="btn" href="/courses">Cancel</a>
                <div style="float:right;">
                    <a href="/">
                        Forgot Password
                    </a>
                </div>
          </div> 
         
  </form>
  
  </div>
  <div>
  <p>
      
  </p>
  </div>

</div>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&key=<%= @google_map_key %>">
</script>
<script>
function initialize() {
        // create the geocoder
        geocoder = new google.maps.Geocoder();
    }
 
    // when page is ready, initialize the map!
    google.maps.event.addDomListener(window, 'load', initialize);

    // add location button event
    $("#fake").click(function(e){
        
        // get the location text field value
        var loc = $("#location").val();

        console.log("user entered location = " + loc);
        
        geocoder.geocode( { 'address': loc }, function(results, status) {
            alert("is this running " + status);
            if (status == google.maps.GeocoderStatus.OK) {
 
                // log out results from geocoding
                console.log("geocoding results");
                console.log(results);
        
                // preparing data for form posting
                var lat = results[0].geometry.location.lat();
                var lng = results[0].geometry.location.lng();
                var loc_name = results[0].formatted_address;
                $("#lat").val(lat);
                $("#lng").val(lng);
                $("#geoloc").val(loc_name);

                $("#submitButton").click();
            } else {
               alert("Try again. Geocode was not successful for the following reason: " + status);
            }
        });
        
    });
</script>
