body {
	background-color: #FFF;
	font-family: Helvetica;
	font-size: 14px;
	color: #323232;
	padding: 50px;
}

.undernavbar {
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}


.well{

	height: 400px;

}

.well .desc{

	height: 200px;

}

.well .course-title{

	height: 100px;
	font-size: auto;
	margin: auto;
	text-align: left;
	color: #00688B;

}


.well:hover{background-color:#cfcfcf;
        -webkit-transition: background 0.15s linear;
        -moz-transition: background 0.15s linear;
        -ms-transition: background 0.15s linear;
        -o-transition: background 0.15s linear;
        transition: background 0.15s linear;;}
a .link{

	display:block;
	height: 400px;
	width: 100px;
}

a,
a:hover, 
a:visited,
a:active{
	color: #000000;
		text-decoration: none;


}




.siteTitle{
	line-height: 40px;
	margin-left: 10px;
	margin-right: 40px;
	font-size: 30px;
	font-family: 'Syncopate', sans-serif;
}

.siteNameControl{
	float: right;
	font-size: 14px;
	line-height: 40px;
}

.siteName{
	padding-right: 5px;
}

.aboutText{
	font-family: 'Strait', sans-serif;
	font-size: 20px;
}

.loginForm{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.loginForm > label {
	margin-top: 5px;
	margin-bottom: 0px;
}
